
/* 夜间模式配色 */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #202020;
  --md-primary-fg-color--dark: #202020;
  --md-default-fg-color: rgba(235, 235, 235, 0.9);
  --md-default-fg-color--light: rgba(255, 255, 255, 0.7);
  --md-default-fg-color--lighter: rgba(255, 255, 255, 0.8);
  --md-default-fg-color--lightest: rgba(255, 255, 255, 0.4);
  --md-default-bg-color: rgba(40, 40, 40, 0.5);
  --md-accent-fg-color:  	#D9D9BF;
  --md-code-bg-color: rgba(40, 40, 40, 0.8);
  --md-code-hl-name-color: #dbdbdb;
  --md-code-hl-comment-color: #8a8c94;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(30, 30, 30, 1) 0%, rgba(70, 70, 70, 1) 100%);
}




[data-md-color-scheme="slate"] .md-nav__link--active {
  color: 	#FFD700 !important; /* 更亮的黄色，适配深色背景 */
}


.md-sidebar--secondary .md-nav > .md-nav__list > li > a + .md-nav {
  display: none;
}
.md-sidebar--secondary .md-nav > .md-nav__list > li > a.is-active + .md-nav {
  display: block;
}

/* 修改上标签页导航栏字体大小 */
.md-tabs__link {
  font-size: 0.8rem; /* 默认约为 0.8rem，可根据需要调整 */
}

/* 活跃标签页的字体样式 */
.md-tabs__link--active {
  font-size: 0.8rem; /* 活跃标签页可稍大 */
  font-weight: 500;
}

/* 修改左侧活跃导航链接的字体大小和粗细 */
.md-nav__link {
  font-size: 0.75rem;      /* 调整字体大小 */
  font-weight: 500;       /* 加粗文本 */
}
/* 修改左侧边栏 */
li.md-nav__item--active > .md-nav__link {
  font-size: 0.8rem; /* 调整为所需大小 */
}
/* 修改右侧边栏目录文字大小 */
.md-sidebar--secondary .md-nav__link {
  font-size: 0.78rem; /* 默认值约为 0.8rem，增大到 0.85rem */
}









/* 修改所有 Admonition 标题的字体大小 */
.admonition-title {
  font-size: 0.75rem;
}
/* 增大 admonition 内的字体大小 */
.md-typeset .admonition, .md-typeset details {
  font-size: 0.75rem;
}


/* The source code was written by @TonyCrane */
h1 {
    counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}
h4 {
  counter-reset: h5;
}
h5 {
  counter-reset: h6;
}
h2:before {
  counter-increment: h2;
  content: counter(h2);
  margin-right: 0.8rem;
}
h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3);
  margin-right: 0.8rem;
}
h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4);
  margin-right: 0.8rem;
}
h5:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
  margin-right: 0.8rem;
}
h6:before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
  margin-right: 0.8rem;
}
  

/* 文章内的加粗文本 */
article strong {
  color: #6DA6A0; /* 绿色 */
}
.md-typeset a {
  color: #6DA6A0; /* 主紫色 */

}
